.mainmenu {
  overflow: hidden;
  position: absolute;
  display: none;
  border: 2px solid green;
  max-height: 400px;
  overflow-y: auto;
  border-radius: 5px;
}

.mainmenu::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 3px;
  font-family: Microsoft YaHei;
}

.mainmenu::-webkit-scrollbar-thumb {
  border-radius: 3px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
  background-color: #E6E6E6;
}

.mainmenu::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .9);
  background-color: #FFFFFF
}

.mainmenu::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, .3)
}

.menu {
  font-size: 15px;
  padding: 2px 8px;
  margin: 1px;
  background-color: #66ccff;
  cursor: default;
  border: 2px outset buttonface;
  text-indent: 0.5em;
  border-radius: 5px;
}

.menuitem {
  height: 20px;
  border-radius: 20px;
  min-width: 100px;
  max-width: 500px;
  padding: 2px 8px;
  border: 2px outset buttonface;
  text-indent: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 20px;
}

.menuitem:hover {
  background-color: #00aaff;
}

.menuitem:active {
  border-style: inset;
}